<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ルーム更新
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @room do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="field">
            <%= f.label :title, "ルーム名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "説明", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>
          <div class="field">
            <%= f.label :address, "住所", class: "label" %>
            <%= f.text_field :address, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :price, "値段", class: "label" %>
            <%= f.text_field :price, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :room_image, "写真", class: "label" %>
            <%= f.attachment_field :room_image, class: "input" %>
          </div>

          <%= f.submit '更新', class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
