<h2>管理画面　部屋一覧</h2>
<section class="admin_user_index">
  <table border="1" class="index_table">
    <tr class="user_header">
      <th>id</th>
      <th>title</th>
      <th>price</th>
      <th>address</th>
      <th>created_at</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @rooms.each do |room| %>
      <tr class="admin_rooms">
        <th ><%= room.id %></th>
        <th><%= room.title %></th>
        <th><%= room.price %></th>
        <th><%= room.address %></th>
        <th><%= room.created_at.strftime("20%y年%m月%d日%H時%M分") %></th>
        <th><%= link_to edit_admin_room_path(room), class: "table_edit" do %>編集<% end %></th>
        <th><%= link_to '削除', admin_room_path(room), method: :delete, class: "black" %></th>
      </tr>
    <% end %>
  </table>
  <div class="adminNewRoom">
    <button type="button" name="button"><%= link_to "新規作成", new_admin_room_path, class: "black" %></button>
  </div>
</section>
