/* line 4, app/assets/stylesheets/admin.scss */
.admin_index {
  height: 300px;
  margin-top: 50px;
  background-color: #FFF;
  padding: 20px;
}

/* line 11, app/assets/stylesheets/admin.scss */
.admin_user_index {
  height: auto;
  background-color: #FFF;
  margin-top: 50px;
}

/* line 17, app/assets/stylesheets/admin.scss */
.admin_menu {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* line 25, app/assets/stylesheets/admin.scss */
.admin_title {
  padding-top: 10px;
  color: black;
  font-weight: bold;
}

/* line 31, app/assets/stylesheets/admin.scss */
.admins h3 {
  color: black;
}

/* line 35, app/assets/stylesheets/admin.scss */
.admins {
  align-items: center;
  padding: 50px 30px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

/* line 42, app/assets/stylesheets/admin.scss */
.index_table {
  width: 100%;
}

/* line 46, app/assets/stylesheets/admin.scss */
.table_edit {
  color: black;
}

/* line 50, app/assets/stylesheets/admin.scss */
.adminNewRoom {
  padding-top: 15px;
  background-color: #727171;
  width: 100%;
  text-align: center;
}
