@charset "UTF-8";
/* line 4, app/assets/stylesheets/home.scss */
.topContaint {
  width: 100%;
  padding: 100px 100px;
}

/* line 9, app/assets/stylesheets/home.scss */
.topImg {
  width: 100%;
  margin: 0 auto;
}

/* line 14, app/assets/stylesheets/home.scss */
.middleContent {
  width: 100%;
  display: flex;
}

/* line 19, app/assets/stylesheets/home.scss */
.middleImg {
  width: 60%;
  padding: 20px;
}

/* line 24, app/assets/stylesheets/home.scss */
.middleImg img {
  width: 100%;
  height: auto;
}

/* line 29, app/assets/stylesheets/home.scss */
.middleDiscribe {
  width: 40%;
  padding: 20px;
}

/* line 36, app/assets/stylesheets/home.scss */
.middleDiscribe h1 {
  margin: 25px 0;
  text-align: center;
}

/* line 41, app/assets/stylesheets/home.scss */
.middleDiscribe p {
  padding: 0 15px;
  display: inline-block;
  line-height: 30px;
}

@media screen and (max-width: 959px) {
  /* line 49, app/assets/stylesheets/home.scss */
  .topContaint {
    padding: 0;
  }
  /* line 53, app/assets/stylesheets/home.scss */
  .middleContent {
    display: block;
    margin-top: 30px;
  }
  /* line 57, app/assets/stylesheets/home.scss */
  .middleImg {
    display: none;
  }
  /* line 61, app/assets/stylesheets/home.scss */
  .middleDiscribe {
    width: 100%;
    background-image: url(../assets/3818569_s.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }
  /* line 71, app/assets/stylesheets/home.scss */
  .middleDiscribe h1 {
    margin: 0;
    color: black;
  }
  /* line 76, app/assets/stylesheets/home.scss */
  .middleDiscribe p {
    color: black;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
}
