/* line 6, app/assets/stylesheets/requests.scss */
.calendar-title {
  font-size: 30px;
  color: white;
}

/* line 11, app/assets/stylesheets/requests.scss */
.request_name {
  font-size: 30px;
  margin: 0 auto;
}
