/* line 5, app/assets/stylesheets/reservations.scss */
.reservationsNewMain {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

/* line 11, app/assets/stylesheets/reservations.scss */
.reservationNewCalendar {
  width: 45%;
}

/* line 15, app/assets/stylesheets/reservations.scss */
.reservationsNewTitle {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

/* line 21, app/assets/stylesheets/reservations.scss */
.reservationsNewTitle h3 {
  font-size: 30px;
}

/* line 25, app/assets/stylesheets/reservations.scss */
.reservationForm {
  margin-top: 50px;
  width: 45%;
}

/* line 30, app/assets/stylesheets/reservations.scss */
.reservationSubmit {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 36, app/assets/stylesheets/reservations.scss */
.alert {
  color: #262626;
  background: #FFEBE8;
  text-align: center;
  border: 2px solid #990000;
  padding: 12px;
  font-weight: 850;
}

@media screen and (max-width: 959px) {
  /* line 44, app/assets/stylesheets/reservations.scss */
  .reservationsNewMain {
    display: block;
    text-align: center;
  }
  /* line 50, app/assets/stylesheets/reservations.scss */
  .reservationNewCalendar {
    width: 80%;
    margin: 0 auto;
  }
  /* line 55, app/assets/stylesheets/reservations.scss */
  .reservationsNewTitle {
    margin-top: 50px;
  }
  /* line 59, app/assets/stylesheets/reservations.scss */
  .reservationsNewTitle h3 {
    font-size: 30px;
  }
  /* line 63, app/assets/stylesheets/reservations.scss */
  .reservationForm {
    width: 80%;
    margin: 50px auto 0 auto;
  }
  /* line 68, app/assets/stylesheets/reservations.scss */
  .reservationSubmit {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}
