<h2>管理画面　予約一覧</h2>
<section class="admin_user_index">
  <table border="1" class="index_table">
    <tr class="user_header">
      <th>ユーザーネーム</th>
      <th>部屋名</th>
      <th>email</th>
      <th>予約日程</th>
      <th>created_at</th>
      <th>削除</th>
    </tr>
    <% @reservations.each do |reservation| %>
      <% @room = @rooms.find_by(id: reservation.room_id) %>
      <% @user = @users.find_by(id: reservation.user_id) %>
      <tr class="admin_reservations">
        <th><%= @user.username %></th>
        <th><%= @room.title %></th>
        <th><%= @user.email %></th>
        <th><%= reservation.start_date.strftime("%m月%d日%H時%M分") %>-<%= reservation.end_date.strftime("%H時%M分") %></th>
        <th><%= reservation.created_at.strftime("20%y年%m月%d日%H時%M分") %></th>
        <th><%= link_to '削除', admin_reservation_path(reservation.id), method: :delete, class: "black" %></th>
      </tr>
    <% end %>
  </table>
</section>
