<article>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          ユーザー編集
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <%= form_for @user do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <%= f.hidden_field :password, value: @user.password %>
            <div class="field">
              <%= f.label :username, "ユーザー名", class: "label" %>
              <%= f.text_field :username, class: "input" %>
            </div>

            <div class="field">
              <%= f.label :email, "メールアドレス", class: "label" %>
              <%= f.email_field :email, class: "input" %>
            </div>

            <div class="field">
              <%= f.label :profile, "プロフィール", class: "label" %>
              <%= f.text_area :profile, class: "textarea" %>
            </div>

            <div class="field">
              <%= f.label :profile_image, "プロフィール画像", class: "label" %>
              <%= f.attachment_field :profile_image, class: "input" %>
            </div>

            <%= f.submit "更新", class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article>
