<article>
  <section class="section">
    <div class="therapestsList">
      <h1>セラピスト一覧</h1>
    </div>
    <div class="container">
      <div class="columns is-multiline">
        <% @users.each do |user| %>
          <% if user.admin == false or user.username == "guest" %>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-image">
                    <figure>
                      <%= link_to user_path(user) do %>
                        <%= attachment_image_tag user, :profile_image, fallback: "4225381_m.jpg", class: "indexProfileImage" %>
                      <% end %>
                    </figure>
                  </div>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <div class="title text-black"><%=link_to user.username, user_path(user), class: "contentName text-black" %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</article>
