<% provide(:title, @user.username) %>
<article class="">
  <section>
    <div class="therapest">
      <h1>セラピスト</h1>
    </div>
  </section>
    <section class="detailContainer">
    <article class="therapestImg">
      <%= attachment_image_tag @user, :profile_image, fallback: "4225381_m.jpg", class: "showProfileImage" %>
    </article>
    <aside class="therapestDetaile">
      <h3 class="black"><%= @user.username %></h3>
      <% if @user.profile != nil %>
        <p class="therapestProfile black"><%= safe_join(@user.profile.split("\n"),tag(:br)) %></p>
      <% end %>
      <div class="request">
        <% if user_signed_in? && @user.id == current_user.id %>
          <button class="button backWhite black">
            <%= link_to "編集", edit_user_path(@user), {class: "black"} %>
          </button>
        <% else %>
          <button class="button backWhite">
            <%= link_to "このセラピストにリクエストを送る", new_user_request_path(@user), {class: "black"} %>
          </button>
        <% end %>
      </div>
    </aside>
  </section>
  <% if user_signed_in? && @user.id == current_user.id %>
    <section class="mypage">
      <div class="reservationIndex mypageIndex">
        <h3>予約一覧</h3>
        <ul>
          <% @reservations.each do |reservation| %>
            <% if DateTime.now <= reservation.start_date %>
              <% @room = @rooms.find_by(id: reservation.room_id) %>
              <li class="my_reservation font black">
                <p class= "reservation_room_name">部屋名: <span><%= @room.title %></span></p>
                <p class= "reservation_room_date">予約日程: <span><%= reservation.start_date.strftime("%m月%d日%H時%M分") %>-<%= reservation.end_date.strftime("%H時%M分") %></span></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="requestIndex mypageIndex">
        <h3>リクエスト一覧</h3>
        <ul>
          <% @requests.each do |request| %>
            <% if DateTime.now <= request.start_date %>
              <% @room = @rooms.find_by(id: request.room_id) %>
              <li class="my_reservation font black">
                <div class="requestCustomer requestList">
                  <p class="font customerName">氏名: <%= request.customer_name %> 様</p>
                </div>
                <div class="requestMiddle requestList">
                  <p class="font requestRoom">希望部屋名: <%= @room.title %></p>
                  <p class="font requestDate">希望日程: <%= request.start_date.strftime("%m月%d日%H時%M分") %>-<%= request.end_date.strftime("%H時%M分") %></p>
                </div>
                <div class="requestContact requestList">
                  <p class="font requestEmail">email: <%= request.email %></p>
                  <p class="font requestTel">TEL: <%= request.phone_number %></p>
                </div>
                <div class="requestList">
                  <p class="font requestMessage">備考: <%= request.message %> </p>
                </div>

              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
    <% end %>
  </section>
</article>
