<%= week_calendar events: reservations do |date, reserve| %>
  <%= date.day %>
  <% reserve.each do |date| %>
    <div class="calendar_time letter_black">
      <p class="calendar_checkin font">
        <%= date.start_date.strftime('%H:%M') %>
      </p>
      <p class="calendar_checkout font">
        <%= date.end_date.strftime('%H:%M') %>
      </p>
      <p>予約済み</p>
    </div>
  <% end %>
<% end %>
