<article>
  <section class="topContaint">
    <img class="topImg" src="/assets/4017336_l.jpg" alt="">
  </section>
  <section class="middleContent">
    <div class="middleImg">
      <img class="consept" src="/assets/3818569_s.jpg" alt="">
    </div>
    <div class="middleDiscribe">
      <h1>consept</h1>
      <p>
        「自分でエステをやりたいけど場所がない」「独立したいけど資金が足りない」「副業をしたいけど自宅でやるのは嫌だ」そんなお困りに応えるのが「SaloShare」です。<br>
        ご自身で独立するよりリスクを抑えることができます。また、必要設備は全て揃っており、30分単位での使用が可能ですので必要経費も最小に抑えることができます。<br>
        お客様とのコミュニケーションようにリクエスト機能も搭載しています。お客様から指名+希望時間+希望場所でリクエストを作成することができます。簡易予約機能としてお使いください。
      </p>
    </div>
  </section>
  <section class="howTo">
    <div class="howToUse">
      <h1>ご利用の流れ</h1>
    </div>
    <div class="howToContents">
      <div class="howToLeft howToContent">
        <h2 class="forUser howToFor">セラピストの方</h2>
        <div class="howToCreate howContent">
          <h3 class="howToTitle">アカウントの作成</h3>
          <ul class="howToList">
            <li>1:ページ最上部「CREATE ACCOUNT」を選択してアカウントの作成</li>
            <li>2:ページ最上部「MY PAGE」からご自分のアカウントの編集</li>
          </ul>
        </div>
        <div class="howToReservation howContent">
          <h3 class="howToTitle">部屋のご予約</h3>
          <ul class="howToList">
            <li>1:作成したアカウントでログイン</li>
            <li>2:ページ最上部の「ROOMS」で部屋一覧へ</li>
            <li>3:部屋を選択し、部屋詳細ページよりご予約が可能です。</li>
            <li>4:ご予約いただいた情報は「MY PAGE」より確認ができます。</li>
          </ul>
        </div>
        <div class="aboutRequest howContent">
          <h3 class="howToTitle">リクエストについて</h3>
          <ul class="howToList">
            <li>1:施術をご希望のお客様より、リクエストが届くことがあります。</li>
            <li>2:リクエストにはお名前、連絡先、ご希望の時間、ご希望の部屋が届きます。</li>
            <li>3:ご自身の都合、部屋の空き状況等ととすり合わせてお客様と連絡を取り合ってお部屋をご予約ください。</li>
            <li>※リクエストは予約機能ではありませんので、日程等確定しましたら別途ご予約が必要です。</li>
          </ul>
        </div>
      </div>
      <div class="HowToRight howToContent">
        <h2 class="forUser howToFor">施術をご希望される方</h2>
        <ul class="howToList">
          <li>1:アカウントの作成は必要ありません。</li>
          <li>2:ページ最上部「THERAPISTS」からセラピスト一覧へ</li>
          <li>3:施術をご希望されるセラピストを選択</li>
          <li>4:セラピスト詳細ページ内「このセラピストにリクエストを送る」を選択</li>
          <li>5:必要事項を記入して、「CREATE REQUEST」でリクエストが送信されます。</li>
          <li>※リクエストは予約機能ではありません。セラピストと予定が一致し、セラピストが予約を確定します。</li>
          <li>※ご希望の部屋を探す際はページ最上部にあります「Rooms」を参考にしてください。</li>
        </ul>
      </div>
    </div>
  </section>
</article>
