<article>
  <section>
    <div class="reservationsNewTitle">
      <h3>リクエスト:<%= @user.username %></h3>
    </div>
    <div class="reservationsNewMain">
      <div class="reservationNewCalendar">
        <%= render 'shared/month_calendar' %>
      </div>
      <aside class="reservationForm">
        <%= form_with model: [@user, @request], local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <div class="field">
            <%= f.label :customer_name, "氏名" %>
            <%= f.text_field :customer_name, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :email, "メールアドレス" %>
            <%= f.text_field :email, class: "input" %>
          </div>
          <div class="field white">
            <%= f.label :phone_number, "電話番号" %>
            <%= f.text_field :phone_number, class: "input" %>
          </div>
          <div class="checkinForm field">
            <%= f.label :start_date, "予約開始日時:" %>
            <%= f.datetime_select :start_date, {minute_step: 30}, {:class => "black"} %>
          </div>
          <div class="checkoutForm field">
            <%= f.label :end_date, "予約終了日時:" %>
            <%= f.datetime_select :end_date, {minute_step: 30}, {:class => "black"} %>
          </div>
          <div class="field">
            <%= f.label :message, "備考,質問等" %>
            <%= f.text_area :message, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :room_id, "ご希望の部屋" %>
            <%= f.collection_select :room_id, @rooms, :id, :title, include_blank: "選択して下さい", class: "input" %>
          </div>
          <div class="reservationSubmit">
            <%= f.submit class: "black" %>
          </div>
        <% end %>
      </aside>
    </div>
  </section>
</article>
