<article>
  <section>
    <div class="reservationsNewTitle">
      <h3><%= @room.title %></h3>
    </div>
    <div class="reservationsNewMain">
      <div class="reservationNewCalendar">
        <h3>予約状況</h3>
        <%= render 'shared/calendar', reservations: @reservations %>
      </div>
      <aside class="reservationForm">
        <%= form_with model: [@room, @reservation], local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="checkinForm">
            <%= f.label :start_date, "予約開始日時" %>
            <%= f.datetime_select :start_date, {minute_step: 30}, {:class => "black"} %>
          </div>
          <div class="checkoutForm">
            <%= f.label :end_date, "予約終了日時" %>
            <%= f.datetime_select :end_date, {minute_step: 30}, {:class => "black"} %>
          </div>
          <div class="reservationSubmit">
            <%= f.submit class: "black" %>
          </div>
        <% end %>
      </aside>
    </div>
  </section>
</article>
