<script type="text/javascript">
  function initMap() {
    geocoder = new google.maps.Geocoder()
    var test ={lat: gon.room.latitude, lng: gon.room.longitude };
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                 });
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<div id="map"></div>
