<article>
  <section>
    <div class="roomsList">
      <h1>ルーム一覧</h1>
    </div>
    <div class="section">
      <div class="container">
        <div class="columns is-multiline">
          <% @rooms.each do |room| %>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-image">
                    <figure>
                      <%= link_to room_path(room) do %>
                        <%= attachment_image_tag room, :room_image, fallback: "4225381_m.jpg", class: "indexProfileImage" %>
                      <% end %>
                    </figure>
                  </div>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <div class="title text-black"><%=link_to room.title, room_path(room), class: "contentName text-black" %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article>
