<% provide(:title, @room.title) %>
<article>
  <section>
    <h1><%= @room.title %></h1>
  </section>
  <section class="detailContainer">
    <div class="img">
      <%= attachment_image_tag @room, :room_image, fallback: "4225381_m.jpg", class: "showProfileImage" %>
    </div>
    <aside class="img_detaile">
      <ul class="detaile_list">
        <li class="room_title room_list">
          <h3>部屋名： <%= @room.title %></h3>
        </li>
        <li class="room_address room_list">
          <p>住所： <%= @room.address %></p>
        </li>
        <li class="room_price room_list">
          <p>値段： <%= @room.price %>/1時間</p>
        </li>
        <li class="room_body">
          <p>
            特徴・備品等<br>
            <% if @room.body != nil %>
              <span><%= safe_join(@room.body.split("\n"),tag(:br)) %></span>
            <% end %>
          </p>
        </li>
        <li>
          <button class="button backWhite"><%= link_to "予約", new_room_reservation_path(@room), {class: "black"} %></button>
        </li>
      </ul>
    </aside>
  </section>

  <section class="calender">
    <%= render 'shared/calendar', reservations: @reservations %>
  </section>
  <section>
    <%= render 'rooms/googleMap', room: @room %>
  </section>
</article>
