/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bulma";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}

header{
  display: flex;
  position:fixed;
  z-index: 100;
  width: 100%;
  height:80px;
  padding:0px 50px;
  background-color: white;
  align-items:center;
  color: #432;
}

h1{
  font-size: 40px;
}

h3 {
  font-size:20px;
}

main{
  color: #432;
  background-color: white;
  padding:100px 0;
}

section{
  padding-left: 50px;
  padding-right: 50px;
}

.text-black{
  color:black;
}

.notification{
  margin-top:40px;
}

.notification:not(:last-child){
  margin-bottom:0;
}


.logo{
  margin:0 auto;
}

.headerLeft{

  display: flex;
  list-style: none;
  width:150px;
}

a{
  text-decoration: none;
  color: black;
}

.headerRightButton{
  font-size: 16px;
  color:white;
}

.navbar-center {
  padding-left: 15px;
  margin: 0 auto;

}

.whenLogout{
  padding-right:15px;
}
.headerRight {
  padding:10px 25px 8px 25px;
  border: solid 1px #ecbbb5;
  background-color: #ecbbb5;
  border-radius: 20px;
}
.headerRight a{
  color:white;
}

.headerRight h3{
  margin:0 auto;
}

.bar_admin{
  display: none;
}



footer{
  height:300px;
  display: flex;
  justify-content:space-between;
  padding-top: 100px;
  padding:0px 100px;
  color: #432;
  background-color: white;
}

.footerLeft{
  margin: auto 0;
}

.footerLeft h1{
  align-items: center;
  margin-bottom: 150px
}

.footerLeft p{
  align-items: end;
}

.footerCenter {
text-align: center;
margin: auto;
}

.footerOpen{
  margin-bottom:30px;
}

.footerOpen p{
  font-size: 20px;
}

.footerCenterItem h2{
  margin-bottom: 20px;
}

.footerRight{
  margin:auto 0;
}

.c_responsive{
  display: none;
}

.center{
  margin:0 auto;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition   : 0.5s ease-in-out;
  transition        : 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

.headerRight{
  display: none;
}

.bar_admin{
  display: block;
}

footer{
  display:inline-block;
  padding:0;
  width:100%;
  height: auto;
}

.footerLeft{
  text-align: center;
}

.c{
  display: none;
}

.footerLeft h1{
  font-size:28px;
  margin:0;
}

.c_responsive{
  margin-top: 20px;
  display: block;
}

.footerCenter{
  padding:50px 30px 0 30px;
  display: flex;
  justify-content: space-around;
}

.footerCenterItem h2{
  margin-bottom: 10px;
}

.footerRight{
  text-align: center;
  padding: 30px 0;
}

.footerRight h2{
  margin-bottom: 10px;
}
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}
