// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.topContaint{
  width:100%;
  padding:50px 100px;
}

.topImg{
  width:100%;
  margin: 0 auto;
}

.middleContent{
  width:100%;
  display: flex;
}

.middleImg {
  width: 60%;
  padding:20px;
}

.middleImg img {
  width:100%;
  height: auto;
}

.middleDiscribe{
  width: 40%;
  padding: 20px;
}



.middleDiscribe h1{
  margin:25px 0;
  text-align: center;
}

.middleDiscribe p{
  padding:0 15px;
  display: inline-block;
  line-height: 30px;
}

.howTo{
  margin-top: 50px;
  padding-top: 20px;
  background-color: #f6f3ef;
}

.howToUse{
  width:100%;
  text-align: center;
  margin-bottom: 30px;
}

.forUser{
  font-size: 28px;
}

.howToContents{
  display: flex;
  color: black;
  border-radius: 15px;
}

.howToFor{
  margin:15px;
}

.howToContent{
  padding: 30px;
}

.howContent{
  margin-bottom:15px;
}

.howToList{
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.howToList li{
  margin-bottom: 10px;
}

@media screen and (max-width: 959px) {

  .topContaint{
    padding:0;
  }

  .middleContent{
    display: block;
    margin-top:30px;
  }
  .middleImg{
    display: none;
  }

  .middleDiscribe{
    width:100%;
    background-image: url(../assets/3818569_s.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }

  .middleDiscribe h1{
    margin:0;
    color: black;
  }

  .middleDiscribe p{
    color: black;
  }
  .howToContents{
    display: block;
  }
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

}
