// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.calendar-title{
  font-size: 30px;
  color: white;
}

.request_name{
  font-size: 30px;
  margin: 0 auto;
}
