// Place all the styles related to the Reservation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reservationsNewMain{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.reservationNewCalendar{
  width:45%;
}

.reservationsNewTitle{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.reservationsNewTitle h3{
  font-size: 30px;
}

.reservationForm{
  margin-top: 50px;
  width:45%;
}

.reservationSubmit{
  width:100%;
  text-align: center;
  margin-top: 30px;
}

.alert {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}
@media screen and (max-width: 959px){
  .reservationsNewMain{
    display: block;
    text-align: center;

  }

  .reservationNewCalendar{
    width:80%;
    margin: 0 auto;
  }

  .reservationsNewTitle{
    margin-top: 50px;
  }

  .reservationsNewTitle h3{
    font-size: 30px;
  }

  .reservationForm{
    width:80%;
    margin: 50px auto 0 auto;
  }

  .reservationSubmit{
    width:100%;
    text-align: center;
    margin-top: 30px;
  }
}
