// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";


.calendar-heading{
  display: flex;
  justify-content:space-around;
  color:black;
}
.card {
  opacity: 1;
  transition: 0.3s;
  }
.card:hover {
  opacity: 0.5;
}

.contentName{
  font-size: 20px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
}

.title{
  text-align: center;
}

.calendar_time{
  color:black;
}

.day{
  color:black;
}

.room_body{
  width:80%
}

.detailContainer{
  display: flex;
}

.img{
  width:50%;
}

.img_detaile{
  width: 40%;
  padding-left: 50px;
}

.room_list{
  border-bottom: 1px solid #666;
}

.detaile_list li{
  margin-top: 15px;
}

.simple-calendar table{
  background-color: #fff;
}

.letter_black p {
  color: black;
}

.indexProfileImage{
  margin: 0 auto;
}

#map{
  height:300px;
  width:70%;
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 959px) {

  .detailContainer{
    display: block;
  }
  .img{
    margin: 0 auto;
    width:80%;
  }

  .img_detaile{
    margin: 30px auto 30px auto;
    width:80%;
    padding:0;
  }

}
@media screen and (max-width: 510px) {

}
