// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";

main{
  padding: 50px 50px;
}

.redistMain{
  background-color: white;
}

.text-black a{
  color:black;
}

.indexProfileImage {
  height: 130px;
  width: 193px;
  object-fit: cover;
}

.card-3{
  width:25%;
  flex: none;
}

.card-image{
  text-align: center;
}

.detailContainer{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;

}

.therapestImg{
  width:45%;
}

.therapestDetaile{
  text-align: center;
  width: 45%;
  background-color: #FFF;
  opacity: 0.6;
  color: #000;
  border-radius: 10px;
  position: relative;
}

.therapestDetaile h3{
  margin-top: 50px;
  font-size: 36px;
  margin-bottom: 30px;
}
.therapestProfile{
  width:80%;
  margin: 0 auto;
  line-height: 30px;
}
.black{
  color: black;
}

.request {
  margin: 15px 0 ;
}

.backWhite{
  background-color: #FFF;
}

.font{
  font-family: sans-serif;
}

.mypage{
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  background-color: #f6f3ef;
}

.mypageIndex{
  width:80%;
  margin:0 auto;
  padding-bottom: 30px;
}

.my_reservation{
  width: 100%;
  margin: 15px 0;
  background-color: #FFF;
  border-radius: 5px;
}

.requestMiddle {
  display:flex;
  justify-content: center;
}

.requestContact{
  display: flex;
  justify-content: center;
}

.requestList p{
  padding:0 10px;
}

@media screen and (max-width: 959px) {
  .therapestDetaile h3{
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 15px;
  }
  .request{
    position: static;
  }
  .therapestDetaile{
    padding-bottom: 15px;
  }
  .requestMiddle {
    display:block;
  }

  .requestContact{
    display: block;
  }

  .requestList p{
    padding:0 10px;
  }
}

@media screen and (max-width: 510px) {

  .therapestsList h1{
    margin: 0 auto;
    width:280px;
  }
  .detailContainer{
    display: block;
  }
  .therapestDetaile, .therapestImg{
    width:80%;
    margin: 0 auto;
  }

  .therapestDetaile{
    padding-bottom: 15px;
  }

  .request{
    position: static;
  }
}
