<h2>管理画面　ユーザー編集</h2>
<section class="section">
  <div class="detailContainer">
    <div class="img">
      <%= attachment_image_tag @user, :profile_image, fallback: "4225381_m.jpg", class: "showProfileImage" %>
    </div>
    <aside class="img_detaile">
      <h3><%= @user.username %></h3>
      <p><%= @user.profile %></p>
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :admin, "admin権限", class: "label" %>
          <%= f.check_box :admin, autofocus: true %>
        </div>
        <%= f.submit "更新", class: "button" %>
      <% end %>
    </aside>
  </div>
</section>
