<h2>管理画面　ユーザー一覧</h2>
<section class="admin_user_index">
  <table border="1" class="index_table">
    <tr class="user_header">
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>created_at</th>
      <th>admin</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @users.each do |user| %>
      <tr class="admin_users">
        <th><%= user.id %></th>
        <th><%= user.username %></th>
        <th><%= user.email %></th>
        <th><%= user.created_at.strftime("%m月%d日%H時%M分") %></th>
        <th><%= user.admin %></th>
        <th><%= link_to edit_admin_user_path(user), class: "table_edit" do %>編集<% end %></th>
        <th><%= link_to '削除', admin_user_path(user.id), method: :delete, class: "black" %></th>
      </tr>
    <% end %>
  </table>
</section>
