<div class="footerLeft">
  <h1>SaloShare</h1>
  <p class="c">©︎ RyosukeOnishi</p>
</div>
<div class="footerCenter">
  <div class="footerOpen footerCenterItem">
    <h2>Open</h2>
    <p>9:00~22:00</p>
  </div>
  <div class="footerClose footerCenterItem">
    <h2>Close</h2>
    <p>火曜日</p>
  </div>
</div>
<div class="footerRight">
  <h2>Address</h2>
  <p>兵庫県上野原市下川町平良久貝854</p>
  <p class="c_responsive">©︎ RyosukeOnishi</p>
</div>
