<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav class="globalMenuSp">
  <ul class="headerLeft">
    <% if user_signed_in? %>
      <li class="logout">
        <%= link_to "Logout", destroy_user_session_path, method: :delete,  data: {"turbolinks" => false} %>
      </li>
    <% else %>
      <li class="whenLogout">
        <%= link_to "Login", new_user_session_path, data: {"turbolinks" => false} %>
      </li>
      <li>
        <%= link_to "CreateAccount", new_user_registration_path,  data: {"turbolinks" => false} %>
      </li>

    <% end %>
    <li class="navbar-center">
      <%= link_to "rooms", rooms_path,  data: {"turbolinks" => false} %>
    </li>
    <li class="navbar-center">
      <%= link_to "therapists", users_path,  data: {"turbolinks" => false} %>
    </li>

    <% if user_signed_in? && current_user.admin? %>
      <li class="bar_admin">
        <%= link_to "admin", admin_path,  data: {"turbolinks" => false} %>
      </li>
      <li class="navbar-center">
        <%= link_to "mypage", user_path(current_user.id),  data: {"turbolinks" => false} %>
      </li>
    <% elsif user_signed_in? %>
      <li class="navbar-center">
        <%= link_to "mypage", user_path(current_user.id),  data: {"turbolinks" => false} %>
      </li>
    <% end %>
  </ul>
</nav>
<div class="logo">
  <%= link_to root_path, data: {"turbolinks" => false} do %>
    <h1>SaloShare</h1>
  <% end %>
</div>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to admin_path,  data: {"turbolinks" => false} do %>
    <div class="headerRight adminLink">
      <h3 class="headerRightButton">管理画面</h3>
    </div>
  <% end %>
<% elsif user_signed_in? %>
  <%= link_to rooms_path, data: {"turbolinks" => false} do %>
    <div class="headerRight">
      <h3 class="headerRightButton">resavation</h3>
    </div>
  <% end %>
<% else %>
  <%= link_to new_user_registration_path, data: {"turbolinks" => false} do %>
    <div class="headerRight">
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
    </div>
  <% end %>
<% end %>
